  <div class="card card-custom">
    <div class="row">
      <h1 class="pull-left"><%= @owner.name %></h1>
      <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-default pull-right" if @edit_mode %>
    </div>

    <p><%= @owner.description %></p>

    <center><h4 class="pretty-font">Events</h4></center>
    <%= render_event_list(@events) %>

    <% if @events.empty? %>
      <center>
        <h5><small>no events posted yet<%= link_to " add one", new_event_path if @edit_mode %></small></h5>
      </center>
    <% end %>

    <% if @past_events.any? %>
      <center><h4 class="pretty-font">Past</h4></center>
      <%= render_event_list(@past_events) %>
    <% end %>
  </div>
