
  <div>
    <div class="row">
      <h1 class="pull-left"><%= @owner.name %></h1>
      <%= link_to "Edit Profile", edit_user_registration_path, class: "btn pull-right" %>
    </div>

    <p><%= @owner.email %></p>
    <p><%= @owner.description %></p>

    <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-default" if @edit_mode %>

    <center><h4>Events</h4></center>

    <% @events.each do |e| %>
      <%= render 'shared/event_card', event: e %>
    <% end %>

  </div>
