  <div class="card card-custom">
    <div class="row">
      <h1 class="pull-left"><%= @owner.name %></h1>
      <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-default pull-right" if @edit_mode %>
    </div>

    <p><%= mail_to @owner.email %></p>
    <p><%= @owner.description %></p>

    <center><h4>Events</h4></center>

    <% @events.each do |e| %>
      <%= render 'shared/event_card', event: e %>
    <% end %>

  </div>
