<% edit_mode ||= nil %>
<% show ||= nil %>
<% location ||= false %>

<div class="card">
  <h4>
    <%= link_to event.name, event_path(event) unless show %>
    <%= event.name if show %>
    <small> <%= link_to "@#{event.owner.name}", user_show_path(event.owner) if location %></small>
  </h4>

  <%= render 'shared/date_block', event: event %>

  <p><%= event.description %></p>

  <% if event.owner == current_user %>
    <div class="pull-right">
      <%= link_to "edit", edit_event_path(event)  %> |
      <%= link_to "delete", event, :method => :delete, data: {confirm: "confirm delete: #{event.name}" } %>
    </div>
  <% end %>
</div>
