<%= content_tag(:div, class: "card #{'event-card' if link_to_path } #{'no-top-bord' if index && index != 0}") do %>
  <center>
    <!-- Title -->
    <h4><%= "#{event.name}#{ " @ #{event.owner.name}" if show_owner }" %></h4>

    <!-- Date -->
    <% if show_date %>
      <h4 class="hidden-xs">
        <div class="event-days <%= today_or_tomorrow_class(event) %>">
          <%= event.pretty_active_time %>
        </div>
      </h4>

      <div class="event-days <%= today_or_tomorrow_class(event) %>visible-xs">
        <h4 class="short-hd"><%= event.pretty_active_time %></h4>
      </div>
    <% end %>

    <!-- Time -->
    <h4 class="time-t">
      <i class="glyphicon glyphicon-time time-icon"></i>
      <%= relative_time ? event.time_relative_to_now : event.pretty_time_range %>
    </h4>

    <!-- Body -->
    <div>
      <p><%= event.description %></p>
      <p><%= owner_links(event) if edit_mode %></p>
    </div>
  </center>
<% end %>
