<% edit_mode ||= nil %>
<% show ||= nil %>

<div class="card">
  <h4>
    <%= link_to event.name, event_path(event) unless show %>
    <%= event.name if show %>
    <small> at <%= link_to event.user.name, user_show_path(event.user) %></small>
  </h4>

  <h4 style="float: right"  class="short-hd">
    <small>
      <%= event.start_time.strftime("%I:%M%p").sub(/^[0:]*/,"") + " to " + event.end_time.strftime("%I:%M%p").sub(/^[0:]*/,"") %>
    </small>
    <div class="event-days">
      <%= event.days_as_string + "  " %>
    </div>
  </h4>

  <p><%= event.description %></p>

  <% if event.user == current_user %>
    <div class="pull-right">
      <%= link_to "edit", edit_event_path(event)  %>
      <%= link_to "delete", event, :method => :delete, data: {confirm: "confirm delete: #{event.name}" } %>
    </div>
  <% end %>
</div>
