<% edit_mode ||= nil %>
<% show ||= nil %>
<% location ||= false %>
<% hide_desc ||= false %>
<% show_rel_time ||= false %>
<% compact ||= false %>

<div class="card">
  <h4>
    <!-- Title -->
    <%= link_to event.name, event_path(event) unless show %>
    <%= event.name if show %>
    <!-- Owner -->
    <small>
      <%= link_to "@#{event.owner.name}", user_show_path(event.owner) if location %>
    </small>
  </h4>
  <!-- Time/Date -->
  <%= render 'shared/date_block', event: event, compact: compact %>

  <!-- Relative -->
  <%= relative_time(event, show_rel_time, compact) %>

  <!-- Body -->
  <%= card_body(event, hide_desc, compact, current_user) %>
</div>
