<% edit_mode ||= nil %>
<% show ||= nil %>
<% location ||= false %>
<% hide_desc ||= false %>
<% show_rel_time ||= false %>
<% compact ||= false %>

<div class="card">
  <h4>
    <%= link_to event.name, event_path(event) unless show %><%= event.name if show %>
    <small>
      <%= link_to "@#{event.owner.name}", user_show_path(event.owner) if location %>

    </small>
  </h4>
  <%= render 'shared/date_block', event: event, compact: compact %>

  <div class="<%= 'hidden-sm hidden-xs' if compact %>">
    <h4><small><%= event.time_relative_to_now if show_rel_time %></small></h4>
  </div>

  <div class="<%= 'hidden-sm hidden-xs' if compact %>">
    <p><%= event.description unless hide_desc %></p>
    <p><%= owner_links(event) if event.owner == current_user %></p>
  </div>
</div>
