<%= content_tag(:div, class: "card #{'event-card' if link_to_path } #{'no-top-bord' if index && index != 0}") do %>
  <h4>
    <!-- Title -->
    <%= "#{event.name}#{ " @ #{event.owner.name}" if show_owner }"  %>
  </h4>

  <!-- Time/Date -->
  <%= render 'shared/date_block', event: event %><!-- !sm/xs -->
  <%= render 'shared/date_line', event: event %><!-- sm/xs -->

  <!-- Relative Time -->
  <% if show_rel_time %>
    <div class="<%= "hidden-xs" if compact %>">
      <h4><small><%= event.time_relative_to_now %></small></h4>
    </div>
  <% end %>

  <!-- Body -->
  <div class="<%= "hidden-xs" if compact %>">
    <p><%= event.description %></p>
    <p><%= owner_links(event) if edit_mode %></p>
  </div>
<% end %>
