<% edit_mode ||= false %>
<% show ||= nil %>
<% location ||= false %>
<% hide_desc ||= false %>
<% show_rel_time ||= false %>
<% compact ||= false %>

<div class="card">
  <h4>
    <!-- Title -->
    <%= link_to event.name, event_path(event) unless show %>
    <%= event.name if show %>
    <!-- Owner -->
    <small>
      <%= link_to "@#{event.owner.name}", user_show_path(event.owner) if location %>
    </small>
  </h4>

  <!-- Time/Date -->
  <%= render 'shared/date_block', event: event %><!-- !sm/xs -->
  <%= render 'shared/date_line', event: event %><!-- sm/xs -->

  <!-- Relative Time -->
  <% if show_rel_time %>
    <div class="<%= "hidden-xs" if compact %>">
      <h4><small><%= event.time_relative_to_now %></small></h4>
    </div>
  <% end %>

  <!-- Body -->
  <div class="<%= "hidden-xs" if compact %>">
    <p><%= event.description %></p>
    <p><%= owner_links(event) if edit_mode %></p>
  </div>
</div>
