<% edit_mode ||= nil %>
<% show ||= nil %>

<div class="card">
  <h4>
    <%= link_to event.name, event_path(event) unless show %>
    <%= event.name if show %>
    <small> at <%= link_to event.owner.name, user_show_path(event.owner) %></small>
  </h4>

  <h4 style="float: right" class="short-hd">
    <small>
      <%= event.pretty_start_time + " to " + event.pretty_end_time %>
    </small>
    <div class="event-days">
      <%= event.day_or_dates + "  " %>
    </div>
  </h4>

  <p><%= event.description %></p>

  <% if event.owner == current_user %>
    <div class="pull-right">
      <%= link_to "edit", edit_event_path(event)  %>
      <%= link_to "delete", event, :method => :delete, data: {confirm: "confirm delete: #{event.name}" } %>
    </div>
  <% end %>
</div>
