<nav class="navbar navbar-fixed-top scrolling-navbar double-nav top-nav-collapse navbar-light purple lighten-3 z-depth-1">
  <div class="container-fluid">
    <a class="navbar-brand" href="app/assets/images/BivLogo.png">
      <%= image_tag "BivLogo.png" %>
    </a>
    <ul class="nav navbar-nav navbar-left">
      <li class="nav-item"><%= link_to "Home", root_url, class: "nav-link waves-effect" %></li>
    </ul>
    <% if user_signed_in? && current_user.owner? %>
      <ul class="nav navbar-nav navbar-left">
        <li class="nav-item"><%= link_to "New Event", new_event_path, class: "nav-link waves-effect" %></li>
      </ul>
      <ul class="nav navbar-nav navbar-left">
        <li class="nav-item"><%= link_to "My Events", owner_list_path(current_user.id), class: "nav-link waves-effect" %></li>
      </ul>
      <ul class="nav navbar-nav navbar-left">
        <li class="nav-item"><%= link_to "My Profile: "+current_user.name, user_show_path(current_user.id), class: "nav-link waves-effect" %></li>
      </ul>
    <% end %>

    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li ="nav-item"><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
      <% else user_signed_in? %>
        <li class="nav-item"><%= link_to "Login", new_user_session_path, class: "nav-link waves-effect" %></li>
        <li class="nav-link"><%= link_to "Signup", new_user_registration_path, class: "nav-link waves-effect" %></li>
      <% end %>
    </ul>
  </div>
</nav>
