<nav class="navbar navbar-default navbar-fixed-top navbar-light purple lighten-3 z-depth-1">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     <%= link_to root_url, class: "nav-link waves-effect navbar-brand" do %>
        <%= image_tag "BivLogoForWeb.png" %>
     <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% if user_signed_in? && current_user.owner? %>
        <ul class="nav navbar-nav navbar-left">
          <li class="nav-item"><%= link_to "New Event", new_event_path, class: "nav-link waves-effect" %></li>
        </ul>
        <ul class="nav navbar-nav navbar-left">
          <li class="nav-item"><%= link_to "My Profile: "+current_user.name, user_show_path(current_user.id), class: "nav-link waves-effect" %></li>
        </ul>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li ="nav-item"><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
        <% else user_signed_in? %>
          <li class="nav-item"><%= link_to "Login", new_user_session_path, class: "nav-link waves-effect" %></li>
          <li class="nav-link"><%= link_to "Signup", new_user_registration_path, class: "nav-link waves-effect" %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
    </div>

</nav>
