<%= render 'shared/admin_main_panel', view: @admin_view %>
<%= content_tag :div do %>
  <center>
    <h1 class="whats-going-on">what's going on
      <div class="btn-group">
        <button class="dropdown-toggle pretty-font day-dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= Event.today_or(@selected_day.to_s) %>
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </button>
        <div class="dropdown-menu">
          <%= day_link_list %>
        </div>
      </div>
    </h1>
  </center>

  <%= render_event_list(@active_events, (@view_is_today ? :today : :this_week)) %>
<% end %>

<%= content_tag :div do %>
  <center><h3 class="pretty-font">past</h3></center></row>
  <%= render_event_list(@inactive_events, :today) %>
<% end if @view_is_today %>
