
<%= content_tag(:div, nil, class: "card small-fix-box #{small_box_classes}") do %>
  <center>
    <h2 class="text-center">login</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field col-xs-10 col-xs-offset-1">
        <%= f.email_field :email, autofocus: true, placeholder: "email" %>
      </div>

      <div class="field col-xs-10 col-xs-offset-1">
        <%= f.password_field :password, autocomplete: "off", placeholder: "password" %>
      </div>

      <center>
        <%= f.submit "Log in", class: "btn btn-primary" %>
      </center>

        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </center>
<% end %>
