<html>
  <head>
    <title>Dealfind</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://use.fontawesome.com/4b5f793601.js"></script>

    <link href="<%= image_path("favicon.ico") %>" rel="shortcut icon" />
  </head>

  <body class="bod">
    <%= render 'shared/mast_head' %>
    <%= render 'shared/devise_flash_override' %>
    <% flash.each do |key, value| %>
      <% unless key == "notice" || key == "alert" %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    <% end %>


<<<<<<< HEAD
    <div <%= "class=container".html_safe unless controller_name == "events" && action_name == "index" %>>
      <%= yield %>
    </div>
=======

      <div <%= "class=container".html_safe unless controller_name == "events" && action_name == "index" %>>
        <%= yield %>
      </div>
>>>>>>> f6b9a4e17c065819d70dbf29dad45498b7069a7f

  </body>

</html>

<script type="text/javascript">fadeAlert()</script>
