<html>
  <head>
    <title>shindig</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://use.fontawesome.com/4b5f793601.js"></script>

    <link href="<%= image_path("favicon.ico") %>" rel="shortcut icon" />
  </head>

  <body class="bod">
    <%= render 'shared/navbar' %>
    <div id="content" class="col-lg-12">
      <%= render 'shared/devise_flash_override' %>
      <% flash.each do |key, value| %>
        <% unless key == "notice" || key == "alert" %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
      <% end %>

      <div class="container">
        <%= yield %>
      </div>
    </div>
  </body>
  <%= content_tag(:div) do %>
    <%= "#{controller_name}##{action_name}" %>
  <% end if Rails.env.development? && false %>
</html>

<script type="text/javascript">fadeAlert()</script>
