<!DOCTYPE html>
<html>
  <head>
    <title>Dealfind</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://use.fontawesome.com/4b5f793601.js"></script>
  </head>

  <body class="bod">
    <%= render 'shared/navbar' %>

    <div class="container">
      <!-- <p class="notice"><%= notice %></p> -->
      <%= render 'shared/devise_flash_override' %>
      <% flash.each do |key, value| %>
        <% unless key == "notice" || key == "alert" %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
      <% end %>

      <%= yield %>
    </div>

    <%= render 'shared/footer' %>
  </body>

</html>

<script type="text/javascript">fadeAlert()</script>
