<html>
  <head>
    <title>appyhr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://use.fontawesome.com/4b5f793601.js"></script>

    <link href="<%= image_path("favicon.ico") %>" rel="shortcut icon" />
  </head>

  <body class="bod">
    <%= render 'shared/navbar' %>
    <div id="content" class="col-lg-12">
      <%= content_tag :h3 do %>
        <center>
          Your business is unnapproved. Create some events to kick things off!
        </center>
      <% end if current_user&.unapproved_owner? %>

      <%= render 'shared/devise_flash_override' %>
      <% flash.each do |key, value| %>
        <% unless key == "notice" || key == "alert" %>
          <% content_tag :div , value, class: "alert alert-#{key}" %>
        <% end %>
      <% end %>

      <div class="container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>

<script type="text/javascript">fadeAlert()</script>
